/ffmpeg
/fribidi
/libass
/libplacebo
/mpv
/build_libs
/ffmpeg_build
*.deb
/debian/.debhelper
/debian/debhelper-build-stamp
/debian/files
/debian/mpv
/debian/mpv.debhelper.log
/debian/mpv.postinst.debhelper
/debian/mpv.postrm.debhelper
/debian/mpv.substvars
/config/
/*_options
